.margen{
    margin-bottom: 10px; margin-left:10px; margin-right:10px; margin-top:10px;
}
.margenContainer{
    margin-bottom: 150px;
}
.marButt{
    margin-left: 10px; margin-right: 10px;
}
  html, body {
height: 100%;
margin: 0;
display: flex;
flex-direction: column;
}

/* Haz que el contenido principal se expanda para empujar el footer hacia abajo */
.main-content {
flex: 1;
}
footer {
width: 100%;
}
footer {
background-color: #5A5A5A;
color: #ecf0f1;
padding: 20px;
text-align: center;
}
.navbar-custom {
color: white;
background-color: #272825;
}

.navbar-custom .nav-link {
color: white; 
}
.navbar-custom .nav-link {
color: white; 
}

.navbar-custom .nav-link:hover {
color: #EB0010BF;
}
.navbar-custom .nav-link:disabled {
color: white; 
}
.logo img{
    
    width: 50px;
}
#container {
    height: 400px;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
.nav-item:disabled a{
    color: #ebebeb;
}
.nav-item i{
font-size: 20px;
}